  <div class="jumbotron">
    <h1 id="h1">RENDEZVOODLE STL</h1>
    <p1 id="p1">Things to do for you and your Boo!</p1>
  </div>

    <div class="grid-container">
{{#each Event}}
    <div class="grid-item">
      <div id="item">
        <img src="">
        <a href="{{[0].event_location}}">
          <p id="responsiveLink">{{[0].event_name}}</p>
        </a>
      </div>
    </div>
{{else}}
<div class="grid-item">
      <div id="item">
        <img src="">
        <a href="">
          <p id="responsiveLink"></p>
        </a>
        <p>NO DATES AVAILABLE</p>
        <a class="waves-effect waves-light btn-small">POST A REVIEW</a>
      </div>
    </div>
{{/each}}

  </div>