  <nav>
    <div class="nav-wrapper">
      <ul class="right">
        <li><a href="index.html">BREWERIES</a></li>
        <li><a href="events.html">EVENTS</a></li>
        <li><a href="myFavorites.html">MY FAVORITES</a></li>
      </ul>
    </div>
  </nav>

  <div class="jumbotron">
    <h1 id="h1">RENDEZVOODLE</h1>
    <p1 id="p1">Things to do for you and your Boo!</p1>
  </div>

  <div class="wrap">
    <div class="search">
      <input type="text" class="searchTerm" id="cityInput" placeholder=" search your city...">
      <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>

    <div class="grid-container">

    <div class="grid-item">
      <div id="item0">
        <button type="submit" class="favoriteButton">
          <i class="far fa-heart"></i>
        </button>
      </div>
    </div>

    <div class="grid-item">
      <div id="item1">
        <button type="submit" class="favoriteButton">
          <i class="far fa-heart"></i>
        </button>
      </div>
    </div>

    <div class="grid-item">
      <div id="item2">
        <button type="submit" class="favoriteButton">
          <i class="far fa-heart"></i>
        </button>
      </div>
    </div>

    <div class="grid-item">
      <div id="item3">
        <button type="submit" class="favoriteButton">
          <i class="far fa-heart"></i>
        </button>
      </div>
    </div>

    <div class="grid-item">
      <div id="item4">
        <button type="submit" class="favoriteButton">
          <i class="far fa-heart"></i>
        </button>
      </div>
    </div>

    <div class="grid-item">
      <div id="item5">
        <button type="submit" class="favoriteButton">
          <i class="far fa-heart"></i>
        </button>
      </div>
    </div>

    <div class="grid-item">
      <div id="item6">
        <button type="submit" class="favoriteButton">
          <i class="far fa-heart"></i>
        </button>
      </div>
    </div>

    <div class="grid-item">
      <div id="item7"><button type="submit" class="favoriteButton">
          <i class="far fa-heart"></i>
        </button>
      </div>
    </div>

  </div>