  <div class="jumbotron">
    <h1 id="h1">RENDEZVOODLE STL</h1>
    <p1 id="p1">Things to do for you and your Boo!</p1>
  </div>

    <div class="grid-container" id="events-grid">
{{#each events}}
    <div class="grid-item">
      <div id="item">
        <img src="{{event_image}}" alt="Event example">
        <a href="{{event_location}}" target="_blank" rel="noopener noreferrer">
          <p id="responsiveLink">{{event_name}}</p>
        </a>
        <a class="waves-effect waves-light btn-small btnreview">POST A REVIEW</a>
      </div>
    </div>
{{else}}
<div class="grid-item">
      <div id="item">
        <img src="">
        <a href="">
          <p id="responsiveLink"></p>
        </a>
        <p>NO DATES AVAILABLE</p>
        <a class="waves-effect waves-light btn-small btnreview">POST A REVIEW</a>
      </div>
    </div>
{{/each}}

  </div>