 <nav>
    <div class="nav-wrapper">
      <ul class="right">
        <li><a href="index.html">BREWERIES</a></li>
        <li><a href="events.html">EVENTS</a></li>
        <li><a href="myFavorites.html">MY FAVORITES</a></li>
      </ul>
    </div>
  </nav>

  <div class="jumbotron">
    <h1 id="h1">RENDEZVOODLE</h1>
    <p1 id="p1">Things to do for you and your Boo!</p1>
  </div>


<!-- create a new user -->
	<div class="container">
		<div class="row mt-4">
			<div class="col-md-2 col-sm-2">
				<a class="btn btn-light" href="/events">Go to Events</a>
			</div>
			<div class="col-md-2 col-sm-2">
				<a class="btn btn-light" href="/review">New Review</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<div class='review-container'>
					<tbody>
						<tr id="form-row">
							<form id="review-form" style="display: flex" class="form-btn">
								<td colspan="4">
									<input placeholder="Enter a name to create a review" id="review-name" type="text" />
								</td>
								<td><button type="submit" class="btn btn-success" id="submit-review">Create
										User</button>
								</td>
							</form>
						</tr>
					</tbody>
				</div>
			</div>
		</div>
		<!-- Custom Script -->
		<script src="js/review.js" type="text/javascript"></script>
    </div>