body {
  font-family: 'Montserrat';
    font-size: 16px;
    line-height: 1;
    text-align: center;
    background-color: black;
    color: #ee6e73;
  }

#h1 {
  font-size: 40px;
  font-weight: bold;
  text-shadow:
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
}

.jumbotron {
  background-image: url("../img/marble.jpg");
    font-family: 'Montserrat';
    text-align: center;
    background-color: transparent;
    color: #ee6e73;
    border-radius: 0;
    border-bottom: 1px solid black;
    padding: 15px;
    text-shadow:
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
  }


.search {
  font-family: 'Montserrat';
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  font-family: 'Montserrat';
  width: 100%;
  border: 3px solid #ee6e73;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #ee6e73;
}

.searchButton {
  width: 40px;
  height: 43px;
  border: 1px solid #ee6e73;
  background: #ee6e73;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

#responsiveLink:hover {
  color: #ee6e73;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.grid-container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: auto auto;
  
}

.grid-item {

  font-size: 12px;

}

.grid-item img{
  max-width: 165px;
  
  
}

.favoriteButton {
  float: right;
  border: none;
  background: none;
 margin-top: 3px;
 margin-bottom: 3px;
}

.favoriteButton:hover{
  cursor: pointer;
}

.button:focus {
  background-color: none;
}

.fa-search {
  color: white;
}

.fa-heart {
  color: #ee6e73;
  font-size: 20px;
}
