body {
  font-family: 'Rubik';
    font-size: 16px;
    line-height: 1;
    text-align: center;
    background-color: black;
    color: #ee6e73;
  }

  

#h1 {
  font-size: 70px;
  font-weight: bolder;
  letter-spacing: 3px;
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #ee6e73,
    0 0 20px #ee6e73,
    0 0 40px #ee6e73,
    0 0 80px #ee6e73,
    0 0 90px #ee6e73,
    0 0 100px #ee6e73,
    0 0 150px #ee6e73;
}

#p1 {
  font-size: 20px;
  font-style: italic;
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #ee6e73,
    0 0 20px #ee6e73,
    0 0 40px #ee6e73,
    0 0 80px #ee6e73,
    0 0 90px #ee6e73,
    0 0 100px #ee6e73,
    0 0 150px #ee6e73;
  letter-spacing: .5px;
}

.jumbotron {
  background-image: url("../img/marble.jpg");
  font-family: 'Rubik';
  text-align: center;
  background-color: transparent;
    border-radius: 0;
    border-bottom: 1px solid black;
    padding-top: 5px;
    padding-bottom: 40px;
   
  }

#responsiveLink:hover {
  color: #ee6e73;
}


.grid-container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: auto auto;
  
}

.grid-item {
  font-size: 18px;
  padding: 30px;
  margin: auto;
}


.grid-item img{
  max-width: 165px;
  
  
}

.button:focus {
  background-color: none;
}

.btn-small {
 background-color: #ee6e73;
}

.btn-small:hover {
  background-color: #ff999c;
 }

.form-group {
  color: white;
  font-size: 18px;
}

.active {
  color: white;
  font-size: 18px;
}

.form-control {
  color: white;
  font-size: 18px;
  border-color: white;
  border-width: 3px;

}

.card-body {
  background-color: black;
  text-align: left;
}

.card-title {
  text-align: center;
}

.eventImg img {
  max-width: 165px;
}