body {
  font-family: 'Rubik';
    font-size: 16px;
    line-height: 1;
    text-align: center;
    background-color: black;
    color: #ee6e73;
  }

  

#h1 {
  font-size: 70px;
  font-weight: bolder;
  letter-spacing: 3px;
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #ee6e73,
    0 0 20px #ee6e73,
    0 0 40px #ee6e73,
    0 0 80px #ee6e73,
    0 0 90px #ee6e73,
    0 0 100px #ee6e73,
    0 0 150px #ee6e73;
}

#p1 {
  font-size: 20px;
  font-style: italic;
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #ee6e73,
    0 0 20px #ee6e73,
    0 0 40px #ee6e73,
    0 0 80px #ee6e73,
    0 0 90px #ee6e73,
    0 0 100px #ee6e73,
    0 0 150px #ee6e73;
  letter-spacing: .5px;
}

.jumbotron {
  background-image: url("../img/marble.jpg");
  font-family: 'Rubik';
  text-align: center;
  background-color: transparent;
    border-radius: 0;
    border-bottom: 1px solid black;
    padding-top: 5px;
    padding-bottom: 40px;
   
  }


.search {
  font-family: 'Rubik';
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  font-family: 'Rubik';
  width: 100%;
  border: 3px solid #ee6e73;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #ee6e73;
}

.searchButton {
  width: 40px;
  height: 43px;
  border: 1px solid #ee6e73;
  background: #ee6e73;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

#responsiveLink:hover {
  color: #ee6e73;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.grid-container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: auto auto;
  
}

.grid-item {
  font-size: 18px;
}


.grid-item img{
  max-width: 165px;
  
  
}

.favoriteButton {
  float: right;
  border: none;
  background: none;
 margin-top: 3px;
 margin-bottom: 3px;
}

.favoriteButton:hover{
  cursor: pointer;
}

.button:focus {
  background-color: none;
}

.fa-search {
  color: white;
}

.fa-heart {
  color: #ee6e73;
  font-size: 20px;
}

.btn-small {
 background-color: #ee6e73;
}

.btn-small:hover {
  background-color: #ff999c;
 }

.form-group {
  color: white;
  font-size: 18px;
}

.active {
  color: white;
  font-size: 18px;
}

.form-control {
  color: white;
  font-size: 18px;
}